.box-formCadastrarProdutos{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    div{
        margin-right: 7px;    
    }
}

.nome{
    width: 70%;
}
@media (max-width: 900px){
    .nome{
        width: 100%;}
}

.preco{
    span{
        width: 45px;
        background-color: orangered;
        color: #fff;
    }
    div{
        display: flex;
    }
    input{
        width: 100px;
    }
}

.desconto{
    display: flex;
    flex-direction: column;
    width: fit-content;
    span{
        background-color: orangered;
        color: #fff;
        width: 37px;
    }
    div{
        display: flex;
    }
    input{
        width: 70px;
    }
}

.estoque{

    input{
        width: 100px;
    }
}

.categoria{  
    height: fit-content; 
}