//MENSAGEM AO PASSAR O MOUSE EM CIMA DO ICONE
.Dica {
    position: relative;
}

.Dica:hover .DicaTexto {
    display: block;
}

.DicaTexto {
    position: absolute;
    display: none;
    width: 120px;
    background: orangered;
    color: #fff;
    text-align: center;
    padding: 7px 5px;
    border-radius: 6px;
    top: 0;
    left: 100%;
    margin-left: 25px;
    margin-top: -8px;
}

.DicaTexto:after {
    content: " ";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: rotate(90deg);
    margin-left: -75px;
    border-width: 7px;
    border-style: solid;
    border-color: orangered transparent transparent transparent;
}

// ---------------------------------------------------------------------------------

.container-siedbar {
    width: 70px;
    height: 100vh;
    background-color: #232334;
}

.noCentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-home {
    border-bottom: 1px solid #ccc;
    height: 72px;
}

.box-icones {
    flex-direction: column;

    div{
        margin-bottom: 17px;
    }
}