.Dica {
    position: relative;
}

.Dica:hover .DicaTexto {
    display: block;
}

.DicaTexto {
    position: absolute;
    display: none;
    width: 100px;
    background: orangered;
    color: #fff;
    text-align: center;
    padding: 7px 5px;
    border-radius: 6px;
    bottom: 5%;
    left: 100%;
    margin-left: 17px;
    margin-bottom: 5px;
}

.DicaTexto:after {
    content: " ";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: rotate(90deg);
    margin-left: -65px;
    border-width: 7px;
    border-style: solid;
    border-color: orangered transparent transparent transparent;
}