@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

*{
    box-sizing: border-box;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box-conteudo{
    margin-left: 70px; //por causa da siedbar que esta fixa
    margin-top: 70px;  // por causa da navbar que esta fixa
    padding: 20px;
}
.container-externo{
    display: flex !important;
    width: 100%;
}

.btn-excluir{
    &:hover{
        color: orangered;
    }
}

a{
    text-decoration: none;
    color: #000;

    &:hover{
        color: orangered;
    }
}

// INICIO EDITANDO BOOTSTRAP  -----------------------------------
.dropdown-item{
    a{
        color: #000 !important;
    }

    a:active{
        color: #fff !important;
    }

    &:active{
        background-color: orangered;
    }
}
.btn-primary{
    background-color: orangered;
    border: 1px solid #ccc;
    padding: 5px 25px;
    border-radius: 7px;
    &:hover{
        background-color: rgba(255, 69, 0, 0.7);
        border: 1px solid #ccc;
    }
}
// FINAL EDITANDO BOOTSTRAP  -----------------------------------

.noCentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-elevado{
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}

.mIconBranco{
    color: #fff;
}

i{
    font-size: 24px !important;
}

i:hover{
    color: orangered;
}

.box-EditConfigSenha{

    width: 100%;
    height: 80vh;

    div{
        margin-bottom: 10px;
    }
}

//INICIO CADASTRAR PRODUTOS ----------------------------------------

.box-CadastrarProdutos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-formCadastrarProdutos{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;

    div{
        margin: 5px;
    }

    input{
        margin: 7px 0;
    }

    span{
        background-color: orangered;
        color: #fff;
    }

    .nome{
        width:75%;
    }
    .preco{
        width: 120px;

        div{
            display: flex;
        }
    }
    .desconto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 130px;
        height: max-content;

        span{
            width: fit-content;
        }
        div{
            display: flex;
        }
    }
    .descricao{
        width: 100%;
    }
    .estoque{
        width: 120px;
        margin-right: 70px;
    }
    .categoria{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        width: fit-content;
    }
}

//FINAL CADASTRAR PRODUTOS ----------------------------------------