@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

.container-conteudo{
    width: 100%;
}

a{
    text-decoration: none;
    color: #000;

    &:hover{
        color: orangered;
    }
}

.dropdown-item{
    a{
        color: #000 !important;
    }
}