@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

*{
    box-sizing: border-box;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box-conteudo{
    margin-left: 70px; //por causa da siedbar que esta fixa
    margin-top: 70px;  // por causa da navbar que esta fixa
    padding: 20px;
}
.container-externo{
    display: flex !important;
    width: 100%;
}

.btn-excluir{
    &:hover{
        color: orangered;
    }
}

a{
    text-decoration: none;
    color: #000;

    &:hover{
        color: orangered;
    }
}

.dropdown-item{
    a{
        color: #000 !important;
    }

    &:active{
        background-color: orangered;
    }
}

.noCentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mIconBranco{
    color: #fff;
}

i{
    font-size: 24px !important;
}

i:hover{
    color: orangered;
}

.box-EditConfigSenha{

    width: 100%;
    height: 80vh;

    div{
        margin-bottom: 10px;
    }
}